<div class="row">
    <div class="col-12">
        <div class="form-group">
            {{ form_label(domicilio.calleAlternativa) }}
            {{ form_widget(domicilio.calleAlternativa) }}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.puerta) }}
            {{ form_widget(domicilio.puerta) }}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.nomenclaturaCatastral) }}
            <div class="text-secondary"> Puede obtener este dato de la boleta de TSG. Por favor, use letras en mayúscula</div>
            {{ form_widget(domicilio.nomenclaturaCatastral) }}
        </div>
    </div>
</div>