<div class="row">
    <div class="col-12">
        <div class="form-group">
            {{ form_label(domicilio.calleAlternativa) }}
            {{ form_widget(domicilio.calleAlternativa) }}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.puerta) }}
            {{ form_widget(domicilio.puerta) }}
        </div>
         <div class="form-group">
            {{ form_label(domicilio.nomenclaturaCatastral) }}
            {{ form_widget(domicilio.nomenclaturaCatastral) }}
        </div>
    </div>
</div>