{%  if showErrorDepartamento or showErrorLocalidad or showErrorCalle %}
    <div class="row">
        <div class="col-12">
            {%  if showErrorDepartamento %}
                <div><strong>Error:</strong><span class="text-danger"> Departamento es un campo requerido</span></div>
            {% endif %}
            {%  if showErrorLocalidad %}
                <div><strong>Error:</strong><span class="text-danger"> Localidad es un campo requerido</span></div>
            {% endif %}
            {%  if showErrorCalle %}
                <div> <strong>Error:</strong> <span class="text-danger"> Debe elegir una calle o proveer una calle alternativa</span></div>
            {% endif %}
        </div>
    </div>
    <br/>
{% endif %}
<div class="row">

    <div class="col-6">        

        <div class="form-group">
            {{ form_label(domicilio.provincia) }}
            {{ form_widget(domicilio.provincia, { 
                'attr': {
                    'data-departamento-url': path('industria_departamento_select'),
                    'class': 'js-example-responsive js-industria-form-provincia ',
                    'style':'width: 100%'
                }  }) }}
        </div>
        <div class="js-departamento-target">
            {% if domicilio.departamento is defined %}
                <div class="form-group">
                    {{ form_label(domicilio.departamento) }}                    
                    {{ form_widget(domicilio.departamento, { 
                     'attr': {
                         'data-localidad-url': path('industria_localidad_select'),
                    'class': ' js-example-responsive js-industria-form-departamento',
                    'style':'width: 100%'
                    } 
                }) }}
                </div>
            {% endif %}
        </div>

        <div class="js-localidad-target">
            {% if domicilio.localidad is defined %}
                <div class="form-group">
                    {{ form_label(domicilio.localidad) }}
                    {{ form_widget(domicilio.localidad, {
                    'attr': {
                         'data-calle-url': path('industria_calle_select'),
                    'class': ' js-example-responsive js-industria-form-localidad',
                    'style':'width: 100%'
                    } 
                     }) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.cp) }}
            {{ form_widget(domicilio.cp) }} 
        </div>

    </div>
    <div class="col-6">
        <div class="js-calle-target">
            {% if domicilio.calle is defined %}
                <div class="form-group">
                    {{ form_label(domicilio.calle) }}
                    {{ form_widget(domicilio.calle, { 'attr': {'class': 'js-example-responsive','style':'width: 100%'} }) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.calleAlternativa) }}
            {{ form_widget(domicilio.calleAlternativa) }}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.puerta) }}
            {{ form_widget(domicilio.puerta) }}
        </div>
    </div>
</div>
