{{ form_start(domicilio) }}
<div class="row">
    
        <div class="col-6 {{esconderParaLugar == "true" ? "d-none"}}">
            <div class="form-group">
                {{ form_label(domicilio.provincia) }}
                {{ form_widget(domicilio.provincia) }}
            </div>
            <div class="form-group">
                {{ form_label(domicilio.localidad) }}
                {{ form_widget(domicilio.localidad) }}
            </div>
            <div class="form-group">
                {{ form_label(domicilio.cp) }}
                {{ form_widget(domicilio.cp) }}
            </div>
        </div>
    <div class="{{esconderParaLugar == "true" ? "col-12" : "col-6"}}">
        <div class="form-group">
            {{ form_label(domicilio.calle) }}
            {{ form_widget(domicilio.calle) }}
        </div>
        <div class="form-group">
            {{ form_label(domicilio.puerta) }}
            {{ form_widget(domicilio.puerta) }}
        </div>
    </div>
</div>
{{ form_end(domicilio) }}