{{ form_start(formulario) }}
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                {{ form_label(formulario.cuit) }}   
                {{ form_widget(formulario.cuit) }}
            </div>
            <div class="col-md-6">                       
                {{ form_label(formulario.razonSocial) }}  
                {{ form_widget(formulario.razonSocial) }}    
                {{ form_errors(formulario.razonSocial) }}   
            </div>
        </div>

    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Domicilio Legal</h5>
                {% include 'domicilio/_formulario.html.twig' with {'domicilio':formulario.domicilio} only %}
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Titular</h5>
                {% include 'persona/_formulario.html.twig' with {'persona':formulario.titular} only %}
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">    
        <div class="row pb-2">
            <div class="col-sm-9 pt-1">
                <h5>Lugares de producción y/o depósito dentro del partido</h5>
            </div>
            <div class="col-sm-3 ">
                <div class="float-right ">
                    <a class="btn btn-primary " href="{{ path("lugar_nuevo") }}"><span class="fa fa-plus-circle"></span> Nuevo Lugar</a>
                </div>
            </div>
        </div>
        {% include 'lugar/grilla.html.twig' with {'lugares':lugares} only %}            
    </div>
</div>
<br/>
<br/>
<br/>
<div class="float-right">    
    <button type="submit" class="btn btn-primary ">{{ button_label|default('Guardar Cambios') }}</button>    
</div>
{{ form_end(formulario) }}
