{{ form_start(titular) }}
<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_label(titular.nombre) }}
            {{ form_widget(titular.nombre) }}
        </div>       
        <div class="form-group">
            {{ form_label(titular.telefonoFijo) }}
            {{ form_widget(titular.telefonoFijo) }}
        </div>
        <div class="form-group">
            {{ form_label(titular.email) }}
            {{ form_widget(titular.email) }}
        </div>
    </div>
    <div class="col-6">
         <div class="form-group">
            {{ form_label(titular.apellido) }}
            {{ form_widget(titular.apellido) }}
        </div>
        <div class="form-group">
            {{ form_label(titular.telefonoMovil) }}
            {{ form_widget(titular.telefonoMovil) }}
        </div>
    </div>
</div>
{{ form_end(titular) }}