{{ form_start(persona) }}
<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_label(persona.nombre) }}<span  class="text-danger">*</span>:
            {{ form_widget(persona.nombre) }}
        </div>       
        <div class="form-group">
            {{ form_label(persona.telefonoFijo) }}
            {{ form_widget(persona.telefonoFijo) }}
        </div>
        <div class="form-group">
            {{ form_label(persona.email) }}
            {{ form_widget(persona.email) }}
        </div>
    </div>
    <div class="col-6">
         <div class="form-group">
            {{ form_label(persona.apellido) }}<span  class="text-danger">*</span>:
            {{ form_widget(persona.apellido) }}
        </div>
        <div class="form-group">
            {{ form_label(persona.telefonoMovil) }}
            {{ form_widget(persona.telefonoMovil) }}
        </div>
    </div>
</div>
{{ form_end(persona) }}