{% form_theme persona 'required_label.html.twig' %}
<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_label(persona.nombre) }}
            {{ form_widget(persona.nombre) }}            
        </div>       
        <div class="form-group">           
            {{ form_label(persona.CUIL) }}
            <span class="text-secondary">  Por favor ingrese su CUIL sin guiones.</span>
            {{ form_widget(persona.CUIL) }} 

        </div>
        <div class="form-group">
            {{ form_label(persona.email) }}
            {{ form_widget(persona.email) }}            
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            {{ form_label(persona.apellido) }}
            {{ form_widget(persona.apellido) }}           
        </div>
        <div class="form-group">
            {{ form_label(persona.telefonoFijo) }}
            {{ form_widget(persona.telefonoFijo) }}            
        </div>
        <div class="form-group">
            {{ form_label(persona.telefonoMovil) }}
            {{ form_widget(persona.telefonoMovil) }}           
        </div>
    </div>
</div>
