{{ form_start(form) }}
{{ form_widget(form) }}
<div class="float-right">
    <a class="btn btn-secondary pr-2 " href="{{ path("admin_user") }}">Volver a la lista</a>
    <button class="btn btn-primary ">{{ button_label|default('Crear') }}</button>    
</div>
{{ form_end(form) }}
