{% extends 'base.html.twig' %}

{% block title %}Cambio de contraseña{% endblock %}

{% block body %}
    <div class="row p-3">
        <div class="col-sm-3">
            <div class="card">
                <ul class="list-group list-group-flush">                       
                    <a class="list-group-item list-group-item-action" href="{{ path("session_cuenta") }}">Datos Usuario</a>                        
                    <a class="list-group-item list-group-item-action active" href="{{ path("cambiar_password") }}">Cambiar Contraseña</a>  
                    <a class="list-group-item list-group-item-action" href="{{ path("cambiar_img_perfil") }}">Cambiar Imagen de Perfil</a>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="container center">
                        {% if errores %}
                            {% for error in errores %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.password_vieja) }}
                            {{ form_widget(form.password_vieja) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.repetir_password) }}
                            {{ form_widget(form.repetir_password) }}
                        </div>
                        <div class="btn-toolbar d-flex flex-row-reverse"> 
                            {{ form_widget(form.cambiar) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}