<div id="divSpinner" class="row">
    <div class="col-12">
        <div class="center-block text-center pt-md-5 pb-md-5 mt-lg-5 mb-lg-5">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
            <div class="pt-3">
                <p>Aguarde un momento...</p>
            </div>
        </div>
    </div>
</div>
{{ form_start(formulario, {'attr': {'id':'formulario','novalidate': 'novalidate'}}) }}
<div id="divFormContent" class="d-none">
    {% if not formulario.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> Alguno de los datos ingresados no es válido, por favor verifiquelos para continuar.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        
    {% endif %}    
    <input id="hiddenEsConsulta" type="hidden" name="esConsulta" value="{{ consulta }}">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" id="tabPrincipal">
            <a id="btnPrincipal" class="nav-link active" data-toggle="pill" href="#principal">Principal</a>
        </li>
        <li class="nav-item" id="tabHabilitacion">
            <a id="btnHabilitacion" class="nav-link" data-toggle="pill" href="#habilitacion">Habilitación</a>
        </li>    
        <li class="nav-item" id="tabCertAptitudAmbiental">
            <a id="btnCertAptitudAmbiental" class="nav-link" data-toggle="pill" href="#certAptitudAmbiental">Cert. Aptitud Ambiental</a>
        </li>
        <li class="nav-item" id="tabProduccion">
            <a id="btnProduccion" class="nav-link" data-toggle="pill" href="#produccion">Producción</a>
        </li>
        {% if showButton %}
            <li class="nav-item" id="tabFinalizar">
                <a id="btnFinalizar" class="nav-link" data-toggle="pill" href="#finalizar">Finalizar</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div id="principal" class="container tab-pane active"><br>
            {% include('lugar/principal.html.twig') %}
        </div>
        <div id="habilitacion" class="container tab-pane fade"><br>
            {% include 'lugar/habilitacion_municipal.html.twig' with {'habilitacion':formulario.habilitacion,'numeroDecreto':formulario.numeroDecreto,'showButton':showButton} only %}
        </div>
        <div id="certAptitudAmbiental" class="container tab-pane fade"><br>
            {% include 'lugar/cert_aptitud_ambiental.html.twig' with {'certAptitudAmbiental':formulario.certAptitudAmb,'dispCatProvincial':formulario.dispCatProvincial,'showButton':showButton} only %}
        </div>
        <div id="produccion" class="container tab-pane fade"><br>
            {% include 'lugar/produccion.html.twig' %}
        </div>
        {% if showButton %}
            <div id="finalizar" class="container tab-pane fade"><br>
            </div>
        {% endif %}
    </div>
    <br/>  
    <hr/>
    <br/>
    <div class="row">
        <div class="col-3">
            <div class="center-block text-center">
                {% if showButton %}
                    <a id="btnBack" class="btn btn-secondary " href="{{ path("industria_nuevo") }}">Cancelar</a>
                {% else %}
                    <a id="btnBack" class="btn btn-secondary " href="{{ path("industria_nuevo") }}">Volver</a>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="center-block text-center">            
                <button id="btnPrev" type="button" class="btn btn-primary btnPrevious"><i class="fa fa-arrow-left"></i></button>          
                <button id="btnNext" type="button" class="btn btn-primary btnNext"><i class="fa fa-arrow-right"></i></button>          
            </div>
        </div>
        <div class="col-3">
            <div id="divGuardar" class="center-block text-center">
                {{ form_widget(formulario.guardar) }}  
            </div>
            <div id="divConfirmar" class="center-block text-center">               
                {{ form_widget(formulario.confirmar) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(formulario) }}
