<h4 class="card-title">Habilitación</h4>
<div class="row">
    <div class="col-6">
        <div class="btn-toolbar" role="toolbar">
            <div class="pr-4 pt-2">
                ¿Tiene habilitación municipal?
            </div>
            <div class="btn-group mr-2" role="group">
                <button id="btnHabilitacionSi" type="button" class="btn btn-primary">Si</button>
            </div>
            <div class="btn-group mr-2" role="group">            
                <button id="btnHabilitacionNo" type="button" class="btn btn-primary">No</button>
            </div>
        </div> 
    </div>
    <div class="col-6" id="divTipoHabilitacion">
        <div class="form-group">
            {{ form_widget(habilitacion.tipo) }}
        </div>
    </div>
</div>
<br/>
<div id="divHabilitacion">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">            
                    <!-- Expediente de habilitacion municipal -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Expediente de habilitación municipal</h5>
                            <div class="form-group">
                                {{ form_label(habilitacion.expediente) }}
                                {{ form_widget(habilitacion.expediente) }}
                            </div> 
                            <div id="divNoEnTramite">
                                <div class="form-group">
                                    {{ form_label(numeroDecreto) }}
                                    {{ form_widget(numeroDecreto) }}
                                </div> 
                                <div class="form-group">
                                    {{ form_label(habilitacion.fechaInicio) }}
                                    {{ form_widget(habilitacion.fechaInicio) }}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <!-- Seguridad & Higiene -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Seguridad e higiene</h5>
                            <div class="form-group">
                                {{ form_label(habilitacion.legajo_se_h) }}
                                {{ form_widget(habilitacion.legajo_se_h) }}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <!-- Rubro habilitado -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Rubro habilitado</h5>
                            <div class="form-group">
                                {{ form_label(habilitacion.rubroHabilitado) }}
                                {{ form_widget(habilitacion.rubroHabilitado, { 'attr': {'class': 'js-example-responsive','style':'width: 100%'} }) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.rubroPrimario) }}
                                {{ form_widget(habilitacion.rubroPrimario, { 'attr': {'class': 'js-example-responsive','style':'width: 100%'} }) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.rubroSecundario) }}
                                {{ form_widget(habilitacion.rubroSecundario, { 'attr': {'class': 'js-example-responsive','style':'width: 100%'} }) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.rubroEspecifico) }}
                                {{ form_widget(habilitacion.rubroEspecifico) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.materiaPrima) }}
                                {{ form_widget(habilitacion.materiaPrima) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.insumos) }}
                                {{ form_widget(habilitacion.insumos) }}
                            </div> 
                            <div class="form-group">
                                {{ form_label(habilitacion.productoFinal) }}
                                {{ form_widget(habilitacion.productoFinal) }}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNoHabilitado" tabindex="-1" role="dialog" aria-labelledby="modalNoHabilitado" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Presentarse en la Dirección de Habilitaciones Industriales:</p>
                <p>Crisólogo Larralde Nº4969, esq. Magdalena. Edificio ITE, Villa Dominico, de 9 a 14hs.</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>