<h4 class="card-title">Principal</h4>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_label(formulario.esDeposito) }}
            {{ form_widget(formulario.esDeposito) }}
        </div>  
    </div>   
    <div class="col-6">
        <div class="form-group">
            {{ form_label(formulario.esProduccion) }}
            {{ form_widget(formulario.esProduccion) }}
        </div>  
    </div>   
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Domicilio Industrial/Real</h5>
                        {% include 'domicilio/_formulario.html.twig' with {'domicilio':formulario.domicilio,'esconderParaLugar':'true'} only %}
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Superficie</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_label(formulario.superficieTotal) }}
                                    {{ form_widget(formulario.superficieTotal) }}
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_label(formulario.siperficieCubierta) }}
                                    {{ form_widget(formulario.siperficieCubierta) }}
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_label(formulario.superficieLibre) }}
                                    {{ form_widget(formulario.superficieLibre) }}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal</h5>
                <div class="form-group">
                    {{ form_label(formulario.qPersonal) }}
                    {{ form_widget(formulario.qPersonal) }}
                </div> 
                <div class="form-group">
                    {{ form_label(formulario.qPersonalFemenino) }}
                    {{ form_widget(formulario.qPersonalFemenino) }}
                </div> 
                <div class="form-group">
                    {{ form_label(formulario.qPersonalTrans) }}
                    {{ form_widget(formulario.qPersonalTrans) }}
                </div> 
                <div class="form-group">
                    {{ form_label(formulario.qPersonalDiscapacidad) }}
                    {{ form_widget(formulario.qPersonalDiscapacidad) }}
                </div> 
                <div class="form-group">
                    {{ form_label(formulario.qPersonalResidenteAvellaneda) }}
                    {{ form_widget(formulario.qPersonalResidenteAvellaneda) }}
                </div> 
            </div>
        </div>
    </div>
</div>
<hr/>

<!-- horarios de trabajo -->
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Horarios de trabajo</h5>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(formulario.horarioRotativo) }}
                    {{ form_widget(formulario.horarioRotativo) }}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pb-2">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr class="d-flex" >
                            <th id="headerId" class="col-4">
                                <div class="float-left">
                                    Día
                                </div>
                            </th>
                            <th id="headerNombre" class="col-2">
                                <div class="float-left">
                                    Habilitado
                                </div>                                       
                            </th>
                            <th id="headerDesc" class="col-3">
                                <div class="float-left">
                                    Inicio
                                </div>
                            </th>
                            <th id="headerDesc" class="col-3">
                                <div class="float-left">
                                    Fin
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in formulario.horariosTrabajo %}
                            <tr class="d-flex">
                                <td class="col-4"> {{ form_widget(horario.dia) }}</td>
                                <td class="col-2 text-center">{{ form_widget(horario.habilitado)}}</td>
                                <td class="col-3 text-center">{{ form_widget(horario.horaInicio)}}</td>
                                <td class="col-3 text-center">{{ form_widget(horario.horaFin)}}</td>
                            </tr>
                        {%  endfor %}     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Apoderado</h5>
                {% include 'persona/_formulario.html.twig' with {'persona':formulario.apoderado} only %}
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(formulario.esExportador) }}
                    {{ form_widget(formulario.esExportador) }}
                </div> 
                <div class="form-group">
                    {{ form_widget(formulario.paises, { 'attr': {'class': 'searchabledropdown'} }) }}
                </div> 
            </div> 
        </div>
    </div>
</div>