<h4 class="card-title">Principal</h4>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            {{ form_label(formulario.esDeposito) }}
            {{ form_widget(formulario.esDeposito) }}
        </div>  
    </div>   
    <div class="col-6">
        <div class="form-group">
            {{ form_label(formulario.esProduccion) }}
            {{ form_widget(formulario.esProduccion) }}
        </div>  
    </div>   
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Domicilio Industrial/Real</h5>
                        {{ form_errors(formulario.domicilioValido) }}
                        {{ form_widget(formulario.domicilioValido) }}
                        <div class="form-group">
                            {{ form_label(formulario.objeto) }}
                            <div class="text-secondary">Por favor ingrese el padrón tal como aparece en su boleta</div>
                            {{ form_widget(formulario.objeto) }}
                        </div>  
                        {% include 'domicilio/_domicilio_lugar.html.twig' with {'domicilio':formulario.domicilio} only %}
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Superficie</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(formulario.superficieTotal) }}
                                    {{ form_widget(formulario.superficieTotal) }}
                                </div> 
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(formulario.superficieLibre) }}
                                    {{ form_widget(formulario.superficieLibre) }}
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(formulario.siperficieCubierta) }}
                                    {{ form_widget(formulario.siperficieCubierta) }}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-md-6">       
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Personal</h5>
                        <div class="form-group">
                            {{ form_label(formulario.qPersonal) }}
                            {{ form_widget(formulario.qPersonal) }}
                        </div> 
                        <div class="form-group">
                            {{ form_label(formulario.qPersonalFemenino) }}
                            {{ form_widget(formulario.qPersonalFemenino) }}
                        </div> 
                        <div class="form-group">
                            {{ form_label(formulario.qPersonalTrans) }}
                            {{ form_widget(formulario.qPersonalTrans) }}
                        </div> 
                        <div class="form-group">
                            {{ form_label(formulario.qPersonalDiscapacidad) }}
                            {{ form_widget(formulario.qPersonalDiscapacidad) }}
                        </div> 
                        <div class="form-group">
                            {{ form_label(formulario.qPersonalResidenteAvellaneda) }}
                            {{ form_widget(formulario.qPersonalResidenteAvellaneda) }}
                        </div> 
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<hr/>

<!-- horarios de trabajo -->
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Horarios de trabajo <span  class="text-danger">*</span></h5>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(formulario.horarioRotativo) }}
                    {{ form_widget(formulario.horarioRotativo) }}
                </div> 
            </div>
        </div>
        {% if showButton %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        Si la hora de inicio y la hora de fin es 00:00, no se considerará un día de trabajo.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 pb-2">
                <table class="table table-hover table-bordered table-lg">
                    <thead class="thead-light">
                        <tr class="d-flex" >
                            <th id="headerId" class="col-4">
                                <div class="float-left">
                                    Día
                                </div>
                            </th>                            
                            <th id="headerDesc" class="col-4">
                                <div class="float-left">
                                    Inicio
                                </div>
                            </th>
                            <th id="headerDesc" class="col-4">
                                <div class="float-left">
                                    Fin
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in formulario.horariosTrabajo|sort((a, b) => a.dia <=> b.dia) %}
                            <tr class="d-flex" >
                                <td class="col-4"> 
                                    {{ form_widget(horario.dia) }}
                                </td>
                                <td class="col-4 text-center">
                                    {{ form_widget(horario.horaInicio)}}
                                </td>
                                <td class="col-4 text-center">
                                    {{ form_widget(horario.horaFin)}}
                                </td>
                            </tr>
                            {% if form_errors(horario.horaFin) %}
                                <tr class="d-flex" colspan="12">
                                    <td class="center-text">
                                        {{ form_errors(horario.horaFin) }}
                                    </td>
                                </tr>
                            {% endif %}
                        {%  endfor %}     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Apoderado</h5>
                {% include 'persona/_formulario.html.twig' with {'persona':formulario.apoderado} only %}
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(formulario.esExportador) }}
                    {{ form_widget(formulario.esExportador) }}
                </div> 
                <div class="form-group" id="divSeleccionPaises">
                    {{ form_errors(formulario.paises)}}
                    {{ form_widget(formulario.paises, { 'attr': {'class': 'js-example-responsive','style':'width: 100%'} }) }}
                </div> 
            </div> 
        </div>
    </div>
</div>
