{% extends 'base.html.twig' %}

{% block title %}Administración de usuarios{% endblock %}

{% block body %}
    <div class="container w-100 p-3">
        <div class="card mx-auto">             
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 pb-2">
                        <a class="btn btn-primary" href="{{ path("admin_usuarios_nuevo") }}"><span class="fa fa-plus-circle"></span> Nuevo usuario</a>
                        <div class="float-right">
                            {{ form_start(formBusqueda,{ 'attr' : { 'class': 'form-inline' } }) }}
                            <div class="form-group pr-2">
                                {{ form_widget(formBusqueda.busqueda) }}
                            </div>
                            {{ form_widget(formBusqueda.buscar) }}
                            {{ form_end(formBusqueda) }}
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr >
                            <th>Id</th>
                            <th>Usuario</th>
                            <th>Mail</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Compañía</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr >
                                <td >{{ usuario.id }}</td>
                                <td >{{ usuario.username}}</td>
                                <td >{{ usuario.email}}</td>
                                <td >{{ usuario.nombre}}</td>
                                <td >{{ usuario.apellido}}</td>
                                <td>{{ usuario.compania.nombre }}</td>
                                <td>  
                                    {{ include('admin/usuarios/_eliminar.html.twig') }}                                    
                                </td>
                            </tr>
                        {%  endfor %}     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%  endblock %}