{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}Nuevo usuario{% endblock %}
{% block body %}
    <div class="container w-100 p-3">
        <div class="card mx-auto">
            <div class="card-header bg-info" >
                <h4 class="text-light mb-3 font-weight-normal">Nuevo Usuario</h4>     
            </div>
            <div class="card-body">  
                {{ form_start(formulario) }}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(formulario.Nombre) }}
                            {{ form_widget(formulario.Nombre) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(formulario.Edad) }}
                            {{ form_widget(formulario.Edad) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}