<div class="card">
    <div class="card-body ">
        <h5 class="text-center">Rubros Generales</h5>    
        <input type="hidden" id="rg1"  value={{ rubroRG1 }}>
        <input type="hidden" id="rg2" value={{ rubroRG2 }}>
        <input type="hidden" id="rg3" value={{ rubroRG3 }}>
        <input type="hidden" id="rg4" value={{ rubroRG4 }}>
        <input type="hidden" id="rg5" value={{ rubroRG5 }}>
        <input type="hidden" id="rg6" value={{ rubroRG6 }}>
        <input type="hidden" id="rg7" value={{ rubroRG7 }}>
        <input type="hidden" id="rg8" value={{ rubroRG8 }}>
        <input type="hidden" id="rg9" value={{ rubroRG9 }}>
        <input type="hidden" id="rg10" value={{ rubroRG10 }}>
        <input type="hidden" id="rg11" value={{ rubroRG11 }}>
        <input type="hidden" id="rg12" value={{ rubroRG12 }}>
        <input type="hidden" id="rg13" value={{ rubroRG13 }}>
        <input type="hidden" id="rg14" value={{ rubroRG14 }}>
        <input type="hidden" id="rg15" value={{ rubroRG15 }}>
        <input type="hidden" id="rg16" value={{ rubroRG16 }}>
        <input type="hidden" id="rg17" value={{ rubroRG17 }}>
        <input type="hidden" id="rg18" value={{ rubroRG18 }}>
        <input type="hidden" id="rg19" value={{ rubroRG19 }}>
        <input type="hidden" id="rg20" value={{ rubroRG20 }}>
        <input type="hidden" id="rg21" value={{ rubroRG21 }}>

        <canvas id="chartRubros" width="500" height="250"></canvas>
    </div>
</div>