{% extends 'base_wide.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('dashboard') }}  
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="container-fluid bg-light full-height  pt-3 pb-3 pl-5 pr-5">     
        <input type="hidden" id="cantLugares"  value={{ cantLugares }}>
        <div class="row">
            <div class="col-sm-12 pb-2">
                <div class="float-right">
                    <div class="input-group mb-3">
                        <button type="button" id="btnRefresh" class="btn btn-success"><span class="fa fa-refresh"></span></button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12 pb-2">
                        <!-- Industrias reempadronadas -->
                        <a style="color:black;text-decoration: none" href="{{ path("industrias_reempadronadas") }}">
                            {{ include("tablero/dashboard/_industriasReempadronadas.html.twig")}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-2">
                        <!-- Industrias exportadoras -->
                        {{ include("tablero/dashboard/_industriasExportadoras.html.twig")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Industrias con habilitacion definitiva -->
                        {{ include("tablero/dashboard/_industriasHabDefinitiva.html.twig")}}
                    </div>
                </div>
            </div>
            <div class="col-9">
                <!-- Graficos -->
                <div class="row">
                    <div class="col-4">
                        {{ include("tablero/dashboard/_lugaresTipoHabilitacion.html.twig") }}
                    </div>
                    <div class="col-4">
                        {{ include("tablero/dashboard/_lugaresExportan.html.twig") }}
                    </div>
                    <div class="col-4">
                        {{ include("tablero/dashboard/_lugaresCategorias.html.twig") }}
                    </div>
                </div> 
                <br/>
                <div class="row">
                    <div class="col-6">
                        {{ include("tablero/dashboard/_lugaresTiposResiduos.html.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}  
{% endblock %}