
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_GOD') %}
                <li class="nav-item active pr-2">
                    <a class="btn btn-sm btn-light" href="{{ path('admin_usuarios') }}">Administración de usuarios</a>
                </li>
                <li class="nav-item active pr-2">
                    <a class="btn btn-sm btn-light" href="{{ path('tablero_dashboard') }}">Dashboard</a>
                </li> 
            {% elseif is_granted('ROLE_ADMIN') %}                
                <li class="nav-item active pr-2">
                    <a class="btn btn-sm btn-light" href="{{ path('tablero_dashboard') }}">Dashboard</a>
                </li>   
            {% endif %}
        </ul>

        <div class="btn-toolbar"> 
            {% if is_granted('ROLE_USER') %}
                <div class="dropdown">
                    {% if app.user.NombreImgPerfil is null %}
                        <button type="button" class="btn btn-light m-1 dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user-circle-o fa-3"></span>
                        </button>
                    {% else %}                        
                        <img class="dropdown-toggle img-thumbnail" data-toggle="dropdown" style="width:50px;height:50px;" src="{{ asset('uploads/perfil/' ~ app.user.NombreImgPerfil) }}">
                    {% endif %}
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('session_cuenta') }}">Cuenta</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a>
                    </div>
                </div>                
            {%  else  %}
                <a class="btn btn-sm btn-light m-1" href="{{ path('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>