{% extends 'base.html.twig' %}
{% block title %}Industrias Reempadronadas{% endblock %}
{% block body %}
    <div class="container w-100 p-3">
        <div id="divSpinner" class="card mx-auto">
            <div class="card-body">
                <div  class="row">
                    <div class="col-12">
                        <div class="center-block text-center pt-md-5 pb-md-5 mt-lg-5 mb-lg-5">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Cargando...</span>
                            </div>
                            <div class="pt-3">
                                <p>Aguarde un momento...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divContent" class="card mx-auto d-none">       
            <div class="card-header bg-primary" >
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-light  mb-3 font-weight-normal">Industrias Reempadronadas</h4> 
                    </div>                    
                </div>
            </div>
            {{ form_start(formBusqueda,{ 'attr' : { 'id':'formBusqueda' } }) }}
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 pb-2">
                        {% if industrias|length == 0  %}
                            <button type="button" 
                                    id="btnAbrirModal" 
                                    class="btn btn-primary disabled" 
                                    disabled>
                                Exportar
                            </button>
                        {% else %}
                            <button type="button" 
                                    id="btnAbrirModal" 
                                    class="btn btn-primary">
                                Exportar
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 pb-2">
                        <div class="float-right">
                            <div class="input-group mb-3">
                                {{ form_widget(formBusqueda.busqueda,{'attr':{'class':'form-control','id':'txtBusqueda'}}) }}
                                <div class="input-group-append">
                                    {{ form_widget(formBusqueda.buscar,{'attr':{'class':'btn btn-primary', 'id':'button-addon2'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="defaultSortColumn" value={{ defaultSortColumn }}>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if industrias|length == 0 %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="alert alert-info" role="alert">
                                        No se han encontrado registros. 
                                    </div>
                                </div>
                            </div>       
                        {% else %}
                            <table class="table table-hover table-bordered ">
                                <thead class="thead-light">
                                    <tr >
                                        <th id="headerCUIT" data-nombre="CUIT">
                                            <div class="float-left">
                                                CUIT
                                            </div>
                                            <div class="float-right align-bottom">
                                                <span class="fa fa-xs"/>
                                            </div>
                                        </th>
                                        <th id="headerRazonSocial" data-nombre="razonSocial">
                                            <div class="float-left">
                                                Razón Social
                                            </div>
                                            <div class="float-right align-bottom">
                                                <span class="fa fa-xs"/>
                                            </div>
                                        </th>
                                        <th id="headerReempadronadoEn" data-nombre="reempadronadoEn">
                                            <div class="float-left">
                                                Fecha de Reempadronamiento
                                            </div>
                                            <div class="float-right align-bottom">
                                                <span class="fa fa-xs"/>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for industria in industrias %}
                                        <tr >
                                            <td >{{ industria.CUIT }}</td>
                                            <td >{{ industria.razonSocial}}</td>
                                            <td >{{ industria.reempadronadoEn|date("m/d/Y")}}</td>
                                        </tr>
                                    {%  endfor %}     
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-3">
                        <div class="center-block text-left pl-2">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 pt-2">
                                        {% if pageSize*pageNum <= totalRecords%}
                                            {{ pageSize*pageNum-(pageSize-1) }} - {{ pageSize*pageNum }} de {{ totalRecords }}
                                        {% else %}
                                            {{ pageSize*pageNum-(pageSize-1) }} - {{ totalRecords }} de {{ totalRecords }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="center-block text-center"> 
                            <button id="btnPageBack" data-pagenum="{{ pageNum }}"  data-pagesize="{{ pageSize }}" type="button" class="btn btn-primary"><span class="fa fa-chevron-left "/></button>
                            <button id="btnPageNext" data-pagenum="{{ pageNum }}" data-pagesize="{{ pageSize }}" data-totalrecords="{{ totalRecords }}" type="button" class="btn btn-primary"><span class="fa fa-chevron-right "/></button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="center-block text-right"> 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 pt-2">
                                        {{ form_label(formBusqueda.pageSize) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(formBusqueda.pageSize) }}
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formBusqueda) }}
        </div>

    </div>
    <div id="modalExportar" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exportar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="center-block text-center"> 
                        {% if busqueda != "" %}
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_csv",{"busqueda":busqueda}) }}">
                                <span class="fa fa-file-archive-o"></span> CSV
                            </a> 
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_xlsx",{"busqueda":busqueda}) }}">
                                <span class="fa fa-file-excel-o"></span> Excel
                            </a>
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_pdf",{"busqueda":busqueda}) }}">
                                <span class="fa fa-file-pdf-o"></span> PDF
                            </a>
                        {% else %}
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_csv",{"busqueda":" "}) }}">
                                <span class="fa fa-file-archive-o"></span> CSV
                            </a> 
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_xlsx",{"busqueda":" "}) }}">
                                <span class="fa fa-file-excel-o"></span> Excel
                            </a>
                            <a 
                                class="btn btn-primary" 
                                href="{{ path("industrias_reempadronadas_exp_pdf",{"busqueda":" "}) }}">
                                <span class="fa fa-file-pdf-o"></span> PDF
                            </a> 
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('grilla_default') }}  
{% endblock %}